	#cabecera{
			border:solid 3px black;
			background-image:url('../imagenes/cropped.png');
			background-position:center
			margin:auto;
	}
	#indice{
			background-color:white;
			height:30px;
			margin-top:5px;
	}
	#titulo{
			font-size: 50px;
			margin:auto;
			margin-right:700px;
			/*background-color: blue;*/
			color: green;
	}
	a:hover{ color: blue}
	#cuerpo{
			border: solid 3px black;
			background-color:#ADFF2F;
			margin: auto;
			text-align: center;
			/*height: 1000px;*/
	}
	#mapa{
			margin:auto;
			margin-right:50px;
			margin-left:200px;
	}
	.links{
			background-color:#F8F8FF;
			margin-left:15px;
			margin-right:26px;
			border: double 3px black;
			font-size:20px;
			color:black;
	}
	.links1{
			margin-right:50px;
			background-color:#F8F8FF;
			border-style:double;
			border-color:black;
			font-size:20px;
			color:black;
	}
	#registrarse{
			background-color:grey;
			width:70px;
			height:40px;
			margin:auto;
			border: solid 3px yellow;
	}
	#resultados{
			border: solid 3px yellow;
			margin:auto;
			margin-right:50px;
			margin-left:200px;
			font-size:15px;
			background-color:#F0FFF0;
	}
	#consulta{
			margin:auto;
			float:left;
			width:150px;
			background-color:#F0FFF0;
			margin-top:50px;
			margin-left:50px;
			font-size: 16px;
	}
	#iniciarse{
			margin:auto;
			width:150px;
			/*background-color:yellow;*/
			margin-right:0px;
			font-size:13px;
			margin-top:-25px;
			text-align:left;
	}
	#registro{
			margin:auto;
			margin-top:50px;
			width:600px;
			background-color:#ccffff;
			border-style:double;
			border-color:black;
			font-size:20px;
			width:40%;
			height:50%;
			size:auto;
	}
	#datos{
			margin:auto;
			margin-top:50px;
			width:600px;
			background-color:#ccffff;
			border-style:double;
			border-color:black;
	}
	#mapa1{
		width:750px;
		height:450px;
		width:100%;
		height:100%;
	}
	#preguntas{
			width:150px;
			background-color:#FAFAD2;
			margin-left:20px;
			margin-top:50px;
	}
	#respuestas{
			background-color:yellow;
			border-style:double;
			border-color:red;
			margin:auto;
			margin-left:175px;
			margin-top:-120px;
			margin-right:20px;
			height:150px;
	}
	#open{
			background-color: black;
			height:1000px;
			border-style:double;
			border-color:blue;
			color:white;
	}
	#datosAntiguos{
			text-align:right;
			background-color:#F0F8FF;
			width:300px;
			margin-left:50px;
			font-size:20px;
			margin:auto;
			width:25%;
			height:25%;
			float:left;
	}
	#datosNuevos{
			text-align:right;
			background-color:#FF7F50;
			/*margin-top:-590px;*/
			margin-left:-380px;
			width:200px;
			font-size:20px;
			width:25%;
			height:25%;
			margin:auto;
	}
	#DarseDeBaja{
			background-color:red;
			width:350px;
			margin:auto;
			width:25%;
			height:25%;
			float:right;
	}
	#moverse1{
			background-color:yellow;
			margin-left:50px;
			margin-top:20px;
			margin:auto;
	}
	#consulta1{
			background-color:#F0FFF0;
			width:150px;
			margin-left:50px;
			margin-top:90px;
	}
	#resultados1{
			background-color:#D3D3D3;
			border: solid 3px yellow;
			margin:auto;
			margin-right:50px;
			margin-left:200px;
			margin-top:-150px;
			margin-bottom:50px;
			font-size:15px;
			height:250px;
	}
	#solicitudEmail{
			background-color:#F0FFF0;
			margin:auto;
			margin-left:175px;
			margin-top:50px;
			width:650px;
			margin-right:-150px;
			margin:auto;
			width:50%;
			height:40%;
	}
	#respuestasEmail{
			background-color:#E9967A;
			margin:auto;
			margin-left:175px;
			margin-top:25px;
			margin-right:25px;
			border-style:double;
			margin-bottom:20px;
	}
	.inicio1{
			background-color:white;
	}