.campo{
	font-size:10px;
}
.hoja{
	width:50%;
	height:50%;
	margin-left:-120px;
	margin-left:auto;
}

.tablaC{
	background-color:#fff;
}

.inicio1{
	color:green;
	font-size:10px;
}

.header_area .navbar {
  background: rgba(255, 255, 255,0.3); /*transparent;*/
  height:60px;
}

.nav-link{
	background: #fff;
}
.header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
  color: blue;
  background-color:#ffcccc;
  /*margin-top:20px;*/
}

.banner_area {
  margin-top:110px;
}

.br_image {
  height:20px;
}

#mapa {
	height:550px;
	width:1300px;
	margin-left:200px;
	margin-top:-320px;
	background-color:red;
}

#consulta{
	width:160px;
	border-style:solid;
	border-color:red;
	border-width:1px;
}

.conjunto {
	backgroun-color:red;
}

.nav-link{
	height:50px;
	background-color:#1affa3;
	/*margin-bottom:50px:*/
}

.nav-item{
	backgroun-color:black;
}

.row{
	margin-top: -5px;
}

@media (min-width: 1200px) {
  .container {
	margin-top:5px;
  }
}

#iniciarse {
	margin-top:5px;
	margin-bottom:5px;
}

.navbar .navbar-expand-lg .navbar-light{
	margin-bottom:5px;
}
#barra {
	margin-top:-135px;
	background-color:red;
	margin:auto;
}

.campoIntro {
	font-size:10px;
	margin-bottom:0px;
}
.campoIntroFin {
	font-size:10px;
}

.consulIntro {
	margin-bottom:0px;
}

.tituloHead {
	font-style:initial;
	color:#cc7a00;
}

.breadcrumb_area .br_image .banner_area{
	min-height: 150px;
	width:100%;
	height:20%;
}