.hoja{
	width:50%;
	height:50%
}

.tablaC{
	background-color:#fff;
}

.inicio1{
	color:green;
}

.header_area .navbar {
  background: rgba(255, 255, 255,0.3); /*transparent;*/
}

.nav-link{
	background: #fff;
}
.header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
  color: blue;
  background-color:#ffcccc;
}

.banner_area {
  margin-top:250px;
  height:150px;
}